.login-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .ant-form-item {
    margin-bottom: 12px;
    .ant-input-password.ant-input-css-var {
      line-height: 1.2;
    }
  }

  .login-header {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;

    .login-header-nav {
      position: absolute;
      top: -15px;
      left: 0;
      right: -15px;
      padding: 15px 15px 0 0;
      display: flex;
      justify-content: flex-end;
    }

    .change-loginway {
      color: #fff;
      cursor: pointer;
      position: absolute;
      right: 20px;
      bottom: 16px;
    }
  }

  .login-form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.2s ease-in-out;

    .login-logo-content {
      text-align: center;
    }

    .login-logo {
      width: 175px;
      height: 32px;
    }

    .form-content {
      width: 240px;
      min-height: 280px;
      margin-top: 32px;
      transition: all 0.2s ease-in-out;

      .submit-form-item {
        margin-bottom: 8px;
      }

      .forget-password {
        cursor: pointer;
        color: var(--login-textBtn-color);
        font-size: 12px;
        padding-right: 8px;
        border-right: 1px solid;

        .forget-icon {
          margin-right: 5px;
        }
      }

      .forget-password.diabledType {
        cursor: not-allowed;
        color: #b0c1d4;
      }

      .loginbyphone {
        cursor: pointer;
        color: var(--login-textBtn-color);
        font-size: 12px;
        padding-left: 8px;
      }

      .login-way-content {
        margin-top: 24px;
        display: flex;
        .login-way-item {
          width: 72px;
          cursor: pointer;
          height: 48px;
          background: transparent;
          border-radius: 4px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: var(--login-text-1);

          p {
            font-size: 12px;
            margin-top: 2px;
          }

          .anticon {
            font-size: 16px;
          }
        }

        .login-way-active {
          background: var(--login-bg-1);
          color: var(--login-text-2);
        }
      }
      .between-content {
        justify-content: space-between;
      }
      .around-content {
        justify-content: space-around;
      }

      .qr-code-icon {
        color: var(--login-textBtn-color);
      }

      .qr-code-icon:hover {
        color: var(--login-textBtn-hover-color);
      }
      .user-defined-login {
        float: right;
        font-size: 14px;
        color: var(--login-textBtn-color);
        cursor: pointer;
      }
      .user-defined-login:hover {
        color: var(--login-textBtn-hover-color);
      }

      .form-other-option {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .auto-login {
          color: var(--login-textBtn-color);
        }
      }
    }
  }

  .footer-container {
    width: 100%;
  }

  .form-bottom {
    position: absolute;
    bottom: 0;
    left: 24px;
    right: 24px;
    height: 56px;
    line-height: 55px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #e0e0e0;
  }

  .phone-verifycode-btn,
  .phone-verifycode-btn:hover,
  .phone-verifycode-btn:active {
    height: 32px;
  }
}

.username-option-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .name {
    flex: 1;
    margin-right: 0.1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .iconfont {
    font-size: 0.12rem;
  }
}
.username-clear-all {
  display: flex;
  justify-content: center;
}

.f12 span {
  font-size: 0.12rem;
  color: var(--login-textBtn-color);
}

.form-other-option {
  margin-bottom: 12px;
  .empty {
    margin-bottom: 14px;
  }
}
.cur-login-way {
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  .cen {
    display: flex;
    align-items: center;
    color: var(--login-textBtn-color);
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    p {
      margin: 0;
      margin-left: 6px;
    }
    .icons {
      position: relative;
      width: 16px;
      height: 16px;
      transform: translateX(-1px);
      .iconfont {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &.icon-left {
          left: -2px;
        }
        &.icon-minus {
          left: 2px;
        }
      }
    }
  }

  .icon-left:before {
    content: '\e658';
  }
}

.login-form-submit {
  margin-bottom: 8px;
}

.remember-auto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #33475b;
  .ant-checkbox {
    top: auto;
  }
}

.form-other-option.local-option {
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 18px;
    color: #4c8cca;
    cursor: pointer;
    &.diabledType {
      cursor: not-allowed;
      color: #b0c1d4;
    }
    .icon-icon_phone {
      margin-right: 3px;
      font-size: 12px;
      line-height: 12px;
      transform: translateY(1px);
    }
  }
}
