.customized-ipv4-cidr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.customized-ipv4-cidr-address {
  flex: 1;
}

.customized-ipv4-cidr-split {
  width: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--app-muted-color);
}

.customized-ipv4-cidr-port {
  width: 100px;
}
