.deskList {
  margin-top: 8px;
  .deskItem {
    padding: 8px;
    border-radius: 4px;
    height: 162px;
    box-shadow: 0px 0px 5px 0px rgba(62, 81, 100, 0.15);
    .deskAcitonMenu {
      .archer-dropdown-menu-item {
        padding: 4px 4px;
        .archer-btn {
          padding-left: 12px;
        }

        p {
          text-align: center;
        }
      }
    }
    .deskItemBody {
      cursor: pointer;
    }
    .desk-status-outBox {
      width: 16px;
      height: 16px;
      border-radius: 16px;
      background-color: #fff;
      text-align: center;
      line-height: 16px;
    }
    &:hover {
      transition: all 0.5s ease;
      box-shadow: 0px 0px 10px 0px rgba(62, 81, 100, 0.45);
    }
    &-SHARE {
      background: var(--desk-card-share-bg);
    }
    &-RESTORE {
      background: var(--desk-card-restore-bg);
    }
    &-EXCLUSIVE {
      background: var(--desk-card-exclusive-bg);
    }
    .status {
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .default {
        background: #e6f1fd;
        border: 1px solid rgba(182, 217, 251, 1);
        border-radius: 4px;
        font-size: 12px;
        color: #4c8cca;
        line-height: 18px;
        text-align: center;
        padding: 1px 2px;
      }
      .status-icon-use {
        display: flex;
        height: 16px;
      }
    }
    .os {
      color: #fff;
      text-align: center;
      position: relative;
      height: 60px;
      > svg {
        height: 60px;
        width: 60px;
      }
      .stop-bg {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        > svg {
          height: 48px;
          width: 48px;
        }
      }
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -55%);
        font-size: 28px;
      }
      .icon-UOS-style {
        font-size: 10px;
      }
    }
    .name {
      width: 100%;
      color: #fff;
      font-weight: 800;
      text-align: center;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      .name-text {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      > i {
        font-size: 12px;
        margin-left: 5px;
      }
    }
    .operate {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 35px;
      margin-top: 10px;
      .ant-btn-text:not([disabled]):hover {
        background-color: var(--desk-card-operate-open-hover-bg);
      }
      .ant-btn-text:not([disabled]) {
        color: var(--desk-card-operate-open-color);
      }
    }
    &-disabled {
      background: var(--desk-card-disabled-bg);
      .name {
        color: var(--desk-card-disabled-title-color);
        font-weight: 800;
      }
      .operate {
        .ant-btn-text:not([disabled]) {
          &:hover {
            background-color: transparent;
          }
        }
        .ant-btn-text:not([disabled]) {
          color: var(--desk-card-operate-close-color);
          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }
  }
  .deskPool {
    padding: 8px;
    border-radius: 4px;
    height: 162px;
    box-shadow: 0px 0px 5px 0px rgba(62, 81, 100, 0.15);
    background-color: var(--desk-card-desk-pool-bg);
    cursor: pointer;
    .os {
      color: #cbd6e2;
      text-align: center;
      position: relative;
      height: 60px;
      margin-top: 16px;
      > svg {
        width: 60px;
        height: 60px;
      }
      .stop-bg {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        svg {
          width: 48px;
          height: 48px;
        }
      }
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -55%);
        font-size: 28px;
      }
      .icon-UOS-style {
        font-size: 10px;
      }
    }
    .name {
      color: var(--desk-card-desk-pool-color);
      font-weight: 800;
      text-align: center;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      .name-text {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      > i {
        font-size: 12px;
        margin-left: 5px;
      }
    }
    .deskPool-create {
      border: 1px solid #dfe3eb;
      width: 100%;
      margin-top: 12px;
    }
  }
}
.desk-more-menu {
  .archer-dropdown-menu-title-content {
    .archer-btn {
      padding: 0;
      height: auto;
      width: 100%;
      text-align: left;
      justify-content: flex-start;
    }
  }
}
