.one-time-modal {
  width: 400px !important;

  .click-tip-btn {
    color: var(--primary-color);
    cursor: pointer;
  }

  .qr-code {
    width: 160px;
    height: 160px;
    overflow: hidden;
    margin: 0 auto;
  }
}
