:root {
  --app-layout-bg-image: url('@/assets/images/app_layout_bg.png');

  // antd小按钮控制
  --antd-sm-btn-bac-color: #eaf0f6; // antd小按钮背景色
  --antd-sm-btn-color: #516f90; // antd小按钮文字颜色
  --antd-sm-btn-bac-hover-color: #f5f8fa; // antd小按钮hover背景色
  --antd-sm-btn-hover-color: #516f90; // antd小按钮hover文字颜色
  --antd-sm-btn-border-color: #d9d9d9;

  // antd modal控制
  --ant-modal-header-border-bottom-color: #e7ebf3;
  --ant-modal-header-bac-color: #f5f8fa;
  --my-ant-modal-title-color: #516f90;
  --ant-modal-title-before-color: #2491ff;
  --ant-modal-body-bac-color: #fff;
  --ant-modal-content-color: #33475b;

  --ant-table-thead-before-bac-color: #dfe3eb;

  --pretty-table-box-shadow-color: rgba(62, 81, 100, 0.12);
  --pretty-table-bac-color: rgba(255, 255, 255, 0.8);
  --pretty-table-page-btn-bac-color: #eaf0f6;
  --pretty-table-page-btn-border-color: #cbd6e2;
  --pretty-table-page-btn-color: #cbd6e2;
  --pretty-table-page-input-color: #33475b;
  --pretty-table-page-input-bac-color: #ffffff;
  --pretty-table-page-input-border-color: #cbd6e2;

  //SettingItem
  --setting-item-wrapper-box-shadow-color: rgba(62, 81, 100, 0.12);
  --setting-item-title-wrapper-bac-color: rgba(255, 255, 255, 0.8);
  --setting-item-title-wrapper-border-color: rgba(255, 255, 255, 1);
  --setting-item-main-title-color: #516f90;
  --setting-item-has-subtitle-or-content-color: #33475b;
  --setting-item-main-title-before-bac-color: #4c8cca;
  --setting-item-sub-title-color: #516f90;
  --setting-item-content-wrapper-bac-color: rgba(255, 255, 255, 1);
  --setting-item-content-wrapper-shadow-color: rgba(62, 81, 100, 0.12);

  // infoTable
  --info-table-row-item-border-bottom-color: rgba(231, 236, 242, 1);
  --info-table-key-color: #516f90;
  --info-table-value-color: #33475b;

  // themeSelect
  --theme-select-item-hover-box-shadow: rgba(51, 71, 91, 0.16);

  // develop-mode-tag
  --develop-mode-bac-color: #daeeff;
  --develop-mode-color: #4c8cca;

  --login-page-bottom-btn-border-color: transparent;

  --diagnosis-info-content-row-key-color: #516f90;
  --diagnosis-info-content-row-val-color: #33475b;

  // download-modal
  --download-modal-bac-img: url('@/assets/images/upgrade-bgc.png');
  --download-modal-body-padding: 16px 16px 0px 16px;
  --download-modal-footer-padding: 16px 16px 10px 16px;
  --download-modal-update-msg-color: #33475b;
  --download-modal-start-version-color: #33475b;
  --download-modal-end-version-color: #516f90;
  --download-modal-start-version-desc-color: #33475b;
  --download-modal-end-version-desc-color: #516f90;

  --application-item-shadow-color: rgba(62, 81, 100, 0.12);
  --application-item-bac-color: rgba(255, 255, 255, 0.45);
  --application-item-hover-bac-color: rgba(255, 255, 255, 0.7);
  --application-item-hover-border-color: rgba(255, 255, 255, 0.85);
  --application-item-name-color: #33475b;

  --app-detail-modal-title-color: #33475b;
  --app-detail-modal-detail-item-border-color: #dfe3eb;
  --app-detail-modal-detail-item-color: #33475b;
  --app-detail-modal-detail-item-icon-color: #7c98b6;

  --gateway-select-color: #516f90;

  --primary-color: #2491ff; //主色
  --primary-shadow-color: #2491ff; // 主色 阴影
  --text-color1: #516f90; // 文案颜色
  --text-hight-color1: #4c8cca;

  // confirm modal
  --confirm-success-color: #5ab55e; // 成功图标颜色
  --confirm-warning-color: #f0a332; // 警告图标颜色
  --confirm-error-color: #eb5f5c; // 警告图标颜色
  --confirm-content-color: #33475b; // 内容部分文案默认颜色
  --confirm-content-tag-bg: #e6f1fd; // 内容部分涉及tag背景颜色

  //菜单按钮 主
  --menu-icon-color: #516f90; //icon颜色
  --menu-icon-color-selected: #ffffff; //icon颜色选中
  --menu-icon-color-disabled: #b0c1d4; //icon颜色禁用
  --menu-btn-hover: #e7ebf3; //按钮 hover 背景
  --menu-btn-selected-shadow: rgba(36, 145, 255, 0.4); //按钮 hover 背景
  //菜单按钮 次
  --downMenu-btn-default: #ffffff; //按钮背景
  //菜单 设置
  --menu-setting-hover: #daeeff;
  --menu-slider-bg: rgba(255, 255, 255, 0.8);

  //桌面 列表
  --desk-card-share-bg: linear-gradient(225deg, #d194de 0%, #4665ea 100%);
  --desk-card-restore-bg: linear-gradient(45deg, #484aca 0%, #6eadf7 100%);
  --desk-card-exclusive-bg: linear-gradient(225deg, #60c8ff 0%, #2491ff 100%);
  --desk-card-disabled-bg: #eaf0f6;
  --desk-card-disabled-title-color: #33475b;
  --desk-card-desk-pool-bg: rgba(255, 255, 255, 0.45);
  --desk-card-operate-open-color: #fff;
  --desk-card-operate-close-color: #516f90;
  --desk-card-operate-open-hover-bg: rgba(255, 255, 255, 0.2);
  --desk-card-desk-pool-color: #b0c1d4;
  //桌面 详情
  --desk-detail-bg: linear-gradient(225deg, #60c8ff 0%, #2491ff 100%);
  --desk-detail-snap-bg: #ffffff;
  --desk-detail-snap-bd: rgba(62, 81, 100, 0.12);
  --desk-detail-snap-title: #33475b;
  --desk-detail-snap-sub-title: #7c98b6;
  --desk-detail-snap-card-bg: #ffffff;
  --desk-detail-snap-card-bg-disabled: #e7ebf3;
  --desk-detail-snap-btn-content-disabled: #828486;
  --desk-detail-snap-card-bd: #7c98b6;
  --desk-detail-snap-btn-bd: rgba(203, 214, 226, 1);
  --desk-detail-snap-btn-content: #2491ff;

  // 设置页 顶部页签
  --config-tab-default: #7c98b6; // 页签字体颜色

  // 设置页 卡片组件
  --config-card-title-default: #33475b; // 设置页卡片标题字体颜色
  --config-card-sub-title-color: #7c98b6; // 设置页卡片副标题颜色
  --config-card-content-color: #516f90;
  --config-card-background-default: rgba(255, 255, 255, 0.8); // 卡片组件的背景色
  --config-card-divider-default: #e7ebf3; // 分割线颜色
  --config-card-shadow-default: rgba(62, 81, 100, 0.12); // 卡片阴影色
  --config-card-border-default: rgba(255, 255, 255, 1); // 卡片边框线
  --config-card-bullet-default: #4c8cca; // 卡片项目符号颜色
  --config-card-icon-default: #506e91; // 卡片右侧插槽icon颜色
  --config-card-icon-success: #5ab55e; // 卡片icon成功色
  --config-card-icon-warning: #f0a332; // 卡片icon异常色
  // 设置页 表单弹窗标题色
  --config-formModel-title-default: #516f90; // 弹窗标题色
  --config-formModel-addonAfter-back: #eaf0f6;

  // 设置页 卡片 infoTable
  --config-infoTable-background-default: #f5f8fa;
  --config-infoTable-color-default: #516f90;

  // footer 操作按钮
  --footer-button-bg: #fffc; // 操作按钮高亮背景色
  --footer-dev-mode-color1: #4c8cca; // 开发模式文案色
  --footer-dev-mode-color2: #daeeff; // 开发模式背景色
  --footer-button-color1: #516f90; // 操作按钮 & 右侧网关文案 default 颜色

  // login
  --login-text-1: #7c98b6; // 登录方式文案默认色
  --login-text-2: #516f90; // 登录方式文案高亮色
  --login-bg-1: #fff9; // 登录方式背景高亮色
  --login-textBtn-color: #516f90; // 登录页text按钮文字颜色
  --login-textBtn-hover-color: #4c8cca; // 登录页text按钮文字颜色
  --login-textBtn-disable-color: #ada3a3; // 登录页text按钮文字颜色

  // approval
  --approval-add-hover-bg: #64affa; // 新增流程按钮hover

  // list-container
  --list-container-bg: rgba(255, 255, 255, 0.8);
  --list-container-bg-hover: rgba(255, 255, 255, 0.7);
  --list-container-bd: rgba(255, 255, 255, 1);
  --list-content-color: #33475b;

  // selector
  --selector-container-bg: rgba(255, 255, 255, 0.6);
  --selector-container-color: #33475b;

  --menu-item-text-color: #33475b;
  --menu-item-icon-color: #7c98b6;
}

:root.dark {
  --app-layout-bg-image: url('@/assets/images/app_layout_bg_dark.png');

  // antd小按钮控制
  --antd-sm-btn-bac-color: #696d9d; // antd小按钮背景色
  --antd-sm-btn-color: #fff; // antd小按钮文字颜色
  --antd-sm-btn-bac-hover-color: #696d9d; // antd小按钮hover背景色
  --antd-sm-btn-hover-color: #fff; // antd小按钮hover文字颜色
  --antd-sm-btn-border-color: rgba(144, 148, 185, 1);

  // antd modal控制
  --ant-modal-header-border-bottom-color: #7075a2;
  --ant-modal-header-bac-color: #656a99;
  --my-ant-modal-title-color: #fff;
  --ant-modal-title-before-color: #fff;
  --ant-modal-body-bac-color: #555c84;
  --ant-modal-content-color: #fff;

  --ant-table-thead-before-bac-color: #7075a2;

  --pretty-table-box-shadow-color: rgba(0, 0, 0, 0.15);
  --pretty-table-bac-color: rgba(105, 109, 157, 0.6);
  --pretty-table-page-btn-bac-color: #696d9d;
  --pretty-table-page-btn-border-color: #9094b9;
  --pretty-table-page-btn-color: #dfe3eb;
  --pretty-table-page-input-color: #fff;
  --pretty-table-page-input-bac-color: rgba(105, 109, 157, 0.2);
  --pretty-table-page-input-border-color: #9094b9;

  //SettingItem
  --setting-item-wrapper-box-shadow-color: rgba(0, 0, 0, 0.15);
  --setting-item-title-wrapper-bac-color: rgba(105, 109, 157, 0.6);
  --setting-item-title-wrapper-border-color: rgba(105, 109, 157, 1);
  --setting-item-main-title-color: #fff;
  --setting-item-has-subtitle-or-content-color: #fff;
  --setting-item-main-title-before-bac-color: #2491ff;
  --setting-item-sub-title-color: #b0c1d4; // 设置页卡片副标题颜色
  --setting-item-content-wrapper-bac-color: #696d9d;
  --setting-item-content-wrapper-shadow-color: rgba(0, 0, 0, 0.15);

  // infoTable
  --info-table-row-item-border-bottom-color: rgba(144, 148, 185, 1);
  --info-table-key-color: #fff;
  --info-table-value-color: #dfe3eb;

  // themeSelect
  --theme-select-item-hover-box-shadow: rgba(175, 215, 255, 0.58);

  // develop-mode-tag
  --develop-mode-bac-color: rgba(105, 109, 157, 0.6);
  --develop-mode-color: #fff;

  --login-page-bottom-btn-border-color: rgba(105, 109, 157, 1);

  --diagnosis-info-content-row-key-color: #fff;
  --diagnosis-info-content-row-val-color: #fff;

  // download-modal
  --download-modal-bac-img: url('@/assets/images/upgrade-bgc-dark.png');
  --download-modal-body-padding: 24px 24px 0 24px;
  --download-modal-footer-padding: 24px 24px 16px 24px;
  --download-modal-update-msg-color: #dfe3eb;
  --download-modal-start-version-color: #dfe3eb;
  --download-modal-end-version-color: #2491ff;
  --download-modal-start-version-desc-color: #dfe3eb;
  --download-modal-end-version-desc-color: #2491ff;

  --application-item-shadow-color: rgba(0, 0, 0, 0.15);
  --application-item-bac-color: rgba(105, 109, 157, 0.4);
  --application-item-hover-bac-color: rgba(105, 109, 157, 0.7);
  --application-item-hover-border-color: rgba(105, 109, 157, 0.85);
  --application-item-name-color: #fff;

  --app-detail-modal-title-color: #fff;
  --app-detail-modal-detail-item-border-color: #7075a2;
  --app-detail-modal-detail-item-color: #fff;
  --app-detail-modal-detail-item-icon-color: #fff;

  --gateway-select-color: #dfe3eb;

  --primary-color: #2491ff; //主色
  --primary-shadow-color: #2491ff; // 主色 阴影
  --text-color1: #516f90; // 文案颜色
  --text-hight-color1: #4c8cca;

  // confirm modal
  --confirm-warning-color: #f0a332; // 警告图标颜色
  --confirm-content-color: #33475b; // 内容部分文案默认颜色
  --confirm-content-tag-bg: #e6f1fd; // 内容部分涉及tag背景颜色

  //菜单按钮 主
  --menu-icon-color: #dfe3eb; //icon颜色
  --menu-icon-color-selected: #ffffff; //icon颜色选中
  --menu-icon-color-disabled: #b0c1d4; //icon颜色禁用
  --menu-btn-hover: rgba(36, 145, 255, 0.5); //按钮 hover 背景
  --menu-btn-selected-shadow: rgba(36, 145, 255, 0.4); //按钮 hover 背景
  //菜单按钮 次
  --downMenu-btn-default: #696d9d; //按钮背景
  //菜单 设置
  --menu-setting-hover: #daeeff;
  --menu-slider-bg: rgba(105, 109, 157, 0.6);

  //桌面 列表
  --desk-card-share-bg: linear-gradient(225deg, #d194de 0%, #4665ea 100%);
  --desk-card-restore-bg: linear-gradient(45deg, #484aca 0%, #6eadf7 100%);
  --desk-card-exclusive-bg: linear-gradient(225deg, #60c8ff 0%, #2491ff 100%);
  --desk-card-disabled-bg: #eaf0f6;
  --desk-card-disabled-title-color: #33475b;
  --desk-card-desk-pool-bg: rgba(255, 255, 255, 0.45);
  --desk-card-operate-open-color: #fff;
  --desk-card-operate-close-color: #516f90;
  --desk-card-operate-open-hover-bg: rgba(255, 255, 255, 0.2);
  --desk-card-desk-pool-color: #b0c1d4;
  //桌面 详情;
  --desk-detail-bg: linear-gradient(225deg, #60c8ff 0%, #2491ff 100%);
  --desk-detail-snap-bg: rgba(105, 109, 157, 0.6);
  --desk-detail-snap-bd: rgba(105, 109, 157, 1);
  --desk-detail-snap-title: #ffffff;
  --desk-detail-snap-sub-title: #dfe3eb;
  --desk-detail-snap-card-bg: #696d9d;
  --desk-detail-snap-card-bg-disabled: #4f5277;
  --desk-detail-snap-btn-content-disabled: #c9cbcf;
  --desk-detail-snap-card-bd: rgba(125, 128, 170, 1);
  --desk-detail-snap-btn-bd: rgba(144, 148, 185, 1);
  --desk-detail-snap-btn-content: #e7ebf3;

  // 设置页 顶部页签
  --config-tab-default: #7c98b6; // 页签字体颜色

  // 设置页 卡片组件
  --config-card-title-default: #ffffff; // 设置页卡片标题字体颜色
  --config-card-sub-title-color: #dfe3eb; // 设置页卡片副标题颜色
  --config-card-content-color: #ffffff; // 设置页卡片内容字体颜色
  --config-card-background-default: rgba(105, 109, 157, 0.6); // 卡片组件的背景色
  --config-card-divider-default: #e7ebf3; // 分割线颜色
  --config-card-shadow-default: rgba(62, 81, 100, 0.12); // 卡片阴影色
  --config-card-border-default: rgba(255, 255, 255, 1); // 卡片边框线
  --config-card-bullet-default: #4c8cca; // 卡片项目符号颜色
  --config-card-icon-default: #506e91; // 卡片右侧插槽icon颜色
  --config-card-icon-success: #5ab55e; // 卡片icon成功色
  --config-card-icon-warning: #f0a332; // 卡片icon异常色
  // 设置页 表单弹窗标题色
  --config-formModel-title-default: #516f90; // 弹窗标题色
  --config-formModel-addonAfter-back: #eaf0f6;

  // 设置页 卡片 infoTable
  --config-infoTable-background-default: rgba(105, 109, 157, 0.6);
  --config-infoTable-color-default: #ffffff;

  // footer 操作按钮
  --footer-button-bg: rgba(105, 109, 157, 0.6); // 操作按钮高亮背景色
  --footer-dev-mode-color1: #ffffff; // 开发模式文案色
  --footer-dev-mode-color2: rgba(105, 109, 157, 0.6); // 开发模式背景色
  --footer-button-color1: #dfe3eb; // 操作按钮 & 右侧网关文案 default 颜色

  // login
  --login-text-1: #dfe3eb; // 登录方式文案默认色
  --login-text-2: #ffffff; // 登录方式文案高亮色
  --login-bg-1: rgba(105, 109, 157, 0.6); // 登录方式背景高亮色
  --login-textBtn-color: #dfe3eb; // 登录页text按钮文字颜色
  --login-textBtn-hover-color: #ffffff; // 登录页text按钮文字颜色
  --login-textBtn-disable-color: #ada3a3; // 登录页text按钮文字颜色

  // approval
  --approval-add-hover-bg: #64affa; // 新增流程按钮hover

  // list-container
  --list-container-bg: rgba(105, 109, 157, 0.6);
  --list-container-bg-hover: rgba(105, 109, 157, 0.8);
  --list-container-bd: rgba(105, 109, 157, 0);
  --list-content-color: #ffffff;

  // selector
  --selector-container-bg: rgba(105, 109, 157, 0.6);
  --selector-container-color: #ffffff;

  --menu-item-text-color: #ffffff;
  --menu-item-icon-color: #ffffff;
}
