$boxPadding: 16px;
$sideMargin: 24px;

@mixin overButton {
  .ant-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 56px;
    width: 64px;
    align-items: center;
    color: var(--config-tab-default);
    font-size: 14px;
    border-radius: 4px;
    row-gap: 4px;

    .ant-btn-icon {
      .icon-style {
        font-size: 18px;
        color: var(--config-tab-default);
      }
    }

    &:hover {
      color: var(--primary-color);
      .icon-style {
        font-size: 18px;
        color: var(--primary-color);
      }
    }
  }
}

.overButton {
  @include overButton;
}

.configPage {
  display: flex;
  align-self: stretch;
  width: 100%;

  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  .exit-button {
    cursor: pointer;
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
    padding: 12px 8px;
    font-size: 14px;
    color: #4c8cca;
    font-weight: 400;
    border-radius: 4px;
    transition: background-color 0.3s;
    .iconfont {
      font-size: 16px;
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.137);
    }
  }
  &-left {
    flex: 1;
    padding: $boxPadding 0 0 $boxPadding;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;

    .signoutBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-self: flex-start;

      border-radius: 8px;

      @include overButton;
    }
  }

  &-middle {
    flex: 12;
    margin-bottom: $sideMargin;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .tabBox {
      height: 15%;

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      padding: $boxPadding 0 0 0;

      .ant-btn-group {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        column-gap: 8px;

        .tabActive {
          background-color: var(--primary-color);
          border-radius: 5px;
          color: var(--menu-icon-color-selected) !important;
          box-shadow: 0px 2px 5px 0px var(--primary-shadow-color);

          font-family: SourceHanSansSC-Normal;
          font-size: 14px;
          font-weight: 400;

          .icon-style {
            color: var(--menu-icon-color-selected) !important;
          }
        }

        @include overButton;
      }
    }

    .chidBox {
      align-self: stretch;
      height: 85%;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &-right {
    flex: 1;

    padding: $boxPadding $boxPadding 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;

    .headBox {
      line-height: normal;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        font-size: 16px;
        cursor: pointer;

        & + i {
          margin-left: 8px;
        }

        &.icon-minus {
          font-size: 21px;
        }
      }
    }
  }
}
