.server-setting-wrapper {
  width: 480px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  overflow-y: scroll;
  /* 隐藏滚动条 */
  scrollbar-width: none;
  /* firefox */
  -ms-overflow-style: none;
  row-gap: 12px;
  &::-webkit-scrollbar {
    display: none;
  }

  .addBtn {
    border-radius: 4px;
    height: 40px;
    border: 1px dashed rgba(153, 172, 194, 1);
    background-color: rgba(153, 172, 194, 0);
    font-size: 14px;
    color: var(--config-tab-default);
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: rgba(255, 255, 255, 0.4) !important;
    }
  }
}
