.deskDetail {
  height: 100%;
  padding-bottom: 20px;

  .deskDetail-content {
    height: calc(100% - 32px - 10px);
    margin-top: 10px;

    .archer-col {
      height: 100%;
    }

    .desk-detail-content {
      height: 100%;
      background: var(--desk-detail-bg);
      box-shadow: 0px 0px 5px 0px rgba(62, 81, 100, 0.45);
      border-radius: 4px;
      padding: 20px 16px;
      display: flex;
      flex-direction: column;

      .detail-title {
        display: flex;
        align-items: center;

        .os {
          color: #fff;
          position: relative;
          height: 60px;

          > svg {
            width: 60px;
            height: 60px;
          }

          .stop-bg {
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
              width: 48px;
              height: 48px;
            }
          }

          i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -55%);
            font-size: 28px;
          }

          .icon-UOS-style {
            font-size: 10px;
          }

          .desk-status-outBox {
            font-size: 16px;
            width: 16px;
            height: 16px;
            border-radius: 16px;
            background-color: #fff;
            position: absolute;
            right: 7px;
            bottom: 4px;
            text-align: center;
            line-height: 16px;
            .iconfontColor {
              font-size: 0.19rem;
              margin-top: 1px;
            }
          }

          > span {
            font-size: 16px;
            position: absolute;
            right: 7px;
            bottom: -4px;
          }
        }

        .name-content {
          display: flex;
          flex-direction: column;
          margin-left: 5px;
          flex: 1;

          .name {
            width: 100%;
            word-break: break-all;
            color: #fff;
            font-weight: 800;
            text-align: left;
            font-size: 16px;
            margin-bottom: 4px;
          }

          .deskType {
            color: #fff;
            font-size: 12px;

            i {
              font-size: 12px;
              margin-right: 5px;
            }
          }
        }
      }

      .detailList {
        margin-top: 8px;
        overflow-y: scroll;
        /* 隐藏滚动条 */
        scrollbar-width: none;
        /* firefox */
        -ms-overflow-style: none;

        /* IE 10+ */
        /* Chrome Safari */
        &::-webkit-scrollbar {
          display: none;
        }

        align-self: stretch;

        .archer-tooltip {
          left: 16px !important;
        }

        li {
          background: rgba(255, 255, 255, 0.2);
          border-radius: 4px;
          width: 100%;
          padding: 16px 12px;
          margin-bottom: 9px;
          color: #fff;
          border: 1px solid transparent;
          font-size: 12px;

          &:hover {
            box-shadow: 0px 0px 5px 0px rgba(62, 81, 100, 0.3);
            border: 1px solid rgba(255, 255, 255, 0.4);
          }

          .toolBox {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            height: 100%;

            .content {
              display: flex;
              align-items: center;
              width: 90%;

              p {
                margin: 0;
                width: 100%;
                word-break: break-all;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
            }

            button {
              width: 10%;
              padding: 0;
              color: #fff;
            }

            i {
              font-size: 14px;
              margin-right: 16px;
            }
          }
        }
      }
    }

    .SnapBox {
      background-color: var(--desk-detail-snap-bg);
      height: 100%;
      border: 1px solid var(--desk-detail-snap-bd);
      box-shadow: 0px 0px 5px 0px rgba(62, 81, 100, 0.12);
      border-radius: 4px;
      padding: 16px;
      display: flex;
      flex-direction: column;
      // padding-right: 24px;

      .title {
        font-size: 16px;
        color: var(--desk-detail-snap-title);
        font-weight: 700;
        height: 30px;
      }

      .snap {
        flex: 1;
        // padding-top: 15px;
        height: 100vh;
        overflow-y: auto;
        padding-right: 8px;

        > li {
          display: flex;

          .dot {
            width: 28px;
            position: relative;

            &::after {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              content: '';
              width: 14px;
              height: 14px;
              background-color: var(--desk-detail-snap-bg);
              border: 3px solid #7c98b6;
              border-radius: 14px;
              z-index: 20;
            }
          }

          .add {
            flex: 1;
            height: 40px;
            background: var(--desk-detail-snap-card-bg);
            border: 1px dashed var(--desk-detail-snap-card-bd);
            border-radius: 4px;
            text-align: center;
            line-height: 40px;
            font-size: 24px;
            color: var(--desk-detail-snap-title);

            &:hover {
              border: 1px dashed var(--primary-color);
            }

            &:focus {
              border: 1px dashed var(--primary-color);
            }

            &[disabled] {
              background-color: var(--desk-detail-snap-card-bg-disabled);
              color: var(--desk-detail-snap-btn-content-disabled);
              cursor: not-allowed;
            }
          }

          .status {
            width: 28px;
            margin-top: 8px;
            position: relative;
            font-size: 16px;

            > i {
              position: absolute;
              z-index: 20;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }

            &::after {
              content: '';
              position: absolute;
              width: 1px;
              height: 82px;
              background-color: rgba(223, 227, 235, 1);
              border: 0;
              left: 50%;
              transform: translateX(-50%);
              top: -42px;
              z-index: 0;
            }
          }

          .card {
            margin-top: 8px;
            flex: 1;
            height: 72px;
            background: var(--desk-detail-snap-card-bg);
            border: 1px solid var(--desk-detail-snap-card-bd);
            border-radius: 4px;
            padding: 16px 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .info {
              display: flex;
              align-items: center;

              img {
                width: 40px;
                margin-right: 16px;
              }

              .text {
                .name {
                  font-size: 14px;
                  color: var(--desk-detail-snap-title);
                  font-weight: 700;
                }

                .time {
                  font-size: 12px;
                  color: var(--desk-detail-snap-sub-title);
                }
              }
            }

            .archer-btn-operate {
              background-color: var(--desk-detail-snap-card-bg);
              border: 1px solid var(--desk-detail-snap-btn-bd);
              color: var(--desk-detail-snap-btn-content);
              width: 22px;
              height: 16px;

              &:hover {
                color: var(--desk-detail-snap-title);
              }
            }

            @media screen and (min-width: 1000px) {
              @availHeight: 20px;
            }

            .archer-popover-inner-content {
              padding: 10px !important;
              overflow-y: scroll;
              width: calc(100vw * 0.2);
            }

            .archer-tooltip-inner {
              padding: 10px !important;
              max-width: unset !important;
            }
          }

          &:nth-child(2) .status::after {
            content: '';
            position: absolute;
            width: 1px;
            height: 62px;
            background-color: rgba(223, 227, 235, 1);
            border: 0;
            left: 50%;
            transform: translateX(-50%);
            top: -22px;
            z-index: 0;
          }

          &:nth-child(1) .status::after {
            content: '';
            position: absolute;
            width: 1px;
            height: 0px;
          }
        }
      }
    }
  }

  .add-btn {
    display: flex;
  }
  .snap-opt-btn {
    width: 22px;
    height: 16px;
    display: flex;
    span {
      height: 16px;
      i {
        margin-top: 3.5px;
        display: block;
      }
    }
  }
}

.disk_tag_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  .disk_tag_item {
    width: 100%;
    color: #364a5d;
    padding: 6px 12px;
  }

  .disk_tag_item:nth-of-type(2n + 1) {
    width: 100%;
    padding: 6px 12px;
    color: #364a5d;
    background: #f5f8fa;
  }
}
