.diagnosis-modal-wrapper {
  width: 500px !important;
  .vdui-modal-body {
    padding: 0px;
    position: relative;
    .vdui-progress {
      position: absolute;
      top: -2px;
      left: 0;
      line-height: 0;
    }
  }
}
