.send-msg-modal-wrapper {
  width: 500px !important;
  .send-title {
    font-size: 14px;
    color: var(--app-text-color);
    text-align: center;
    margin-top: 16px;
    margin-bottom: 24px;
  }

  .send-msg-form {
    width: 300px;
    margin: 0 auto;
  }
}
